<footer class="mt-8 text-sm text-gray-600">
    <section>
            © 2025 LaPelliculeCurieuse – Tous droits réservés.
    </section>
    <section>
        <a href="{{ path('app_mentions') }}">Mentions légales</a>
    </section>
</footer>
