<nav>
    <a href="{{ path('app_accueil') }}"><img src="{{ asset('assets/images/logo.png') }}" alt="logo site"></a>
    <ul>
        <li><a href="{{ path('app_login') }}">Se connecter</a></li>
        <li><a href="{{ path('app_contacts') }}">Contact</a></li>
        <li><input type="search" id="site-search" name="q" /></li>
        <li> <button>Rechercher </button></li>
    </ul>
</nav>
