{% extends 'base.html.twig' %}

{% block title %}Ajouter une serie{% endblock %}

{% block body %}
    <style>
        .formulaire { margin: auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    </style>

    <div class="formulaire">
        <h1>Ajouter une serie ✅</h1>

        {# Formulaire #}
        {{ form_start(form) }}
        <button type="submit"> Ajouter </button>
        {{ form_end(form) }}
    </div>

    <a href="{{ path('app_profile') }}">← Retour à la liste</a>
{% endblock %}
