{% extends 'base.html.twig' %}

{% block title %}Hello SeriesController!{% endblock %}

{% block body %}
<style>

</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

</div>
{% endblock %}
