/* ========== GLOBAL ========== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* police d'ecriture */
    background-color: #1F1F3B; /* coleur de fond */
    color: #FFFFFF; /* couleur d'ecriture page profile */
}

a {
    text-decoration: none; /* j'eneleve le soulignement automatique des liens  */
    color: #fff;
}

h1{
    margin: 2.5rem;
}
.contact-msg{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
    max-width: 700px;
    padding: 2rem;
    flex-direction: column;
    color: black;
    background-color: #EDE9FE;
    border-radius: 1rem;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}
.mon-input{
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    border: none;
    width: 100%;
    margin: 0.5rem;
    transition: all 0.3s ease;
}
.mon-input:focus{
    outline: none;
    border: 2px solid #1F1F3B;
    box-shadow: 0 0 5px #1F1F3B;
}
.mon-input-textera{
    padding: 0.5rem 0.5rem;
    border-radius: 5px;
    border: none;
    width: 100%;
    margin: 0.5rem;
    transition: all 0.3s ease;
    resize: vertical;
    min-height: 100px;
}
.mon-input-textera::placeholder {
    color: #aaa;
    font-style: italic;
}
.mon-input-textera:focus{
    outline: none;
    border: 2px solid #1F1F3B;
    box-shadow: 0 0 5px #1F1F3B;
}
.btn{
    padding: 0.5rem 1rem;
    border-radius: 8px;
    border: none;
    width: 250px;
    margin: 0.5rem;
    background-color: #2c3e50;
    color: #FFFFFF;
}
.btn:hover{
    transform: scale(1.05);
    background-color: #89BEC2;
}

.return{
    display: flex;
    justify-content: center;
    align-items: center;
}
